/**
 * Layout
*/

@import "../abstracts/mixins";
@import "../abstracts/variables";

.section {
    padding-block: pxToRem(32); // Use variable instead of 32px

    @include responsive_min(md) {
        padding-block: pxToRem(64);
    }

    &--secondary {
        padding-block: pxToRem(24);
    }
    &--tertiary {
        padding-block: pxToRem(16);
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    max-width: pxToRem(1440); // Use variable instead of 1440px
    padding: 0 pxToRem(15); // Use variable instead of 15px
}

.container-fluid {
    width: 100vw;
    display: flex;
}

.grid {
    display: grid;
    row-gap: pxToRem(32); // Use variable instead of 32px
    grid-template-columns: repeat(1, fr);

    @include responsive_min(md) {
        grid-template-columns: repeat(2, fr);

        &--gap {
            column-gap: pxToRem(24); // Use variable instead of 24px
        }
        &--gap-secondary {
            column-gap: pxToRem(40); // Use variable instead of 40px
        }
    }
    @include responsive_min(lg) {
        grid-template-columns: repeat(3, fr);
        row-gap: 2.5rem;
    }
}








