// Typo
// ----------------------------------------------

@import "mixins.scss";

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/montserrat/montserrat-v15-latin-regular.eot); /* no "../../"
    because this code will be read in style.css (root of the theme) */
    src: local(''),
        url(fonts/montserrat/montserrat-v15-latin-regular.woff2) format('woff2'),
        url(fonts/montserrat/montserrat-v15-latin-regular.woff) format('woff'),
        url(fonts/montserrat/montserrat-v15-latin-regular.ttf) format('truetype');
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    src: url(fonts/montserrat/montserrat-v15-latin-700.eot);
    src: local(''),
        url(fonts/montserrat/montserrat-v15-latin-700.woff2) format('woff2'),
        url(fonts/montserrat/montserrat-v15-latin-700.woff) format('woff'),
        url(fonts/montserrat/montserrat-v15-latin-700.ttf) format('truetype');
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    src: url(fonts/montserrat/montserrat-v15-latin-900.eot);
    src: local(''),
        url(fonts/montserrat/montserrat-v15-latin-900.woff2) format('woff2'),
        url(fonts/montserrat/montserrat-v15-latin-900.woff) format('woff'),
        url(fonts/montserrat/montserrat-v15-latin-900.ttf) format('truetype');
}

@font-face {
    font-family: Barlow;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/barlow/barlow-v5-latin-regular.eot);
    src: local(''),
        url(fonts/barlow/barlow-v5-latin-regular.woff2) format('woff2'),
        url(fonts/barlow/barlow-v5-latin-regular.woff) format('woff'),
        url(fonts/barlow/barlow-v5-latin-regular.ttf) format('truetype');
}

@font-face {
    font-family: Barlow;
    font-style: normal;
    font-weight: 700;
    src: url(fonts/barlow/barlow-v5-latin-700.eot);
    src: local(''),
        url(fonts/barlow/barlow-v5-latin-700.woff2) format('woff2'),
        url(fonts/barlow/barlow-v5-latin-700.woff) format('woff'),
        url(fonts/barlow/barlow-v5-latin-700.ttf) format('truetype');
}

@font-face {
    font-family: Barlow;
    font-style: normal;
    font-weight: 900;
    src: url(fonts/barlow/barlow-v5-latin-900.eot);
    src: local(''),
        url(fonts/barlow/barlow-v5-latin-900.woff2) format('woff2'),
        url(fonts/barlow/barlow-v5-latin-900.woff) format('woff'),
        url(fonts/barlow/barlow-v5-latin-900.ttf) format('truetype');
}

* {
    font-family: Montserrat, sans-serif;
}

.secondary-font {
    font-family: Barlow, sans-serif!important;
}

.secondary-font * {
    font-family: Barlow, sans-serif!important;
}

h1, h2, h3, h4 {
    margin: 0;
}

.primary-title {
    font-size: 6.25rem;
    color: #000;
    line-height: 6.25rem;
    font-weight: 900;

    @include responsive(sm) {
        font-size: 3.75rem;
        line-height: 4.2rem;
    }
}

.secondary-title {
    font-size: 2rem;
    color: #000;
    line-height: 2.56rem;
    text-transform: uppercase;
}

.primary-p {
    font-size: .9rem;
    line-height: 2.1875rem;
    letter-spacing: 2px;

    @include responsive(md) {
        line-height: 1.8rem;
    }
    @include responsive(sm) {
        font-size: 1rem;
        line-height: 2rem;
        letter-spacing: 2px;
    }
    @include responsive(xs) {
        font-size: .93rem;
    }
}

.primary-span {
    font-size: .77rem;
    line-height: 1.06rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1.7px;
}

.secondary-span {
    font-size: .75rem;
    line-height: 1.75rem;
}